/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
.env.backup
/.phpunit.cache
.npmrc
/public/i.php
/public/mix-manifest.json
/public/vendor/*
/storage/uploads
*.cache
/.php_cs.cache
.php_cs.cache
/builds
/.env.production
/storage/bucket
/storage/logs

public/js/
public/css/
public/fonts/

/storage/docs
/storage
/tools

/.env.review
.vscode/settings.json
/.secret-keys/
/secret-keys
/storage/temp
/.phpstorm.meta.php
/.idea_org

.DS_Store

.auth.json

*.key

auth.json

multipass-rocks-4e6428fd0b1f.json

public/katex.css

*.copy

.env.review.backup
github.secrets

*.backup
.php-cs-fixer.cache

*.map

.idea
.php_cs

build
composer.lock
coverage
docs
phpunit.xml
testbench.yaml
vendor
node_modules

_ide_helper.php
_ide_helper_models.php
phpstan-baseline.neon

